*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Inter', sans-serif;;
}
.blog-arkaplan{
    background-image: url('../image/blogimg/Base\ Backgroundarkaplan\ \(1\).jpg');
    
}

.container{
    width:1280px;
    margin-inline:auto ;
    
}
.baslik{
    background-color: #151B28;
}
a{
    text-decoration: none;
    color:#FFFFFF;
}
ul{
    list-style-type: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    
    
}

.logo img{
    width: 160px;
    height: 40px;
    
}

.headerlist{
    width:420px;
    display: flex;
    gap:32px;
    font-size:medium;
    height: 22px;
}
.reso{
    display: flex;
    gap:7px;
    

}
.reso img{
    width: 20px;
    height: 20px;
    align-items: center;
}
.header-konumlama{
    display: flex;
    gap:64px;
    align-items: center;
    
    
}
.signupbuton {
    display: flex;
    text-align: center;
    text-align: right;
    gap:24px;
    

}
.signup{
    display: flex;
    align-items: center;
    width: 57px;
    height: 46px;
    font-size: 15px;
    line-height: 22px;
    color:#437EF7;
    
}
.buton{
    width: 80px;
    height: 46px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #437EF7;
    color:white;
    font-size: 15px;
    line-height: 22px;
}


.hypegot{
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.52px;
    color:#F9F9F9;
    width: 640px;
    height: 120px;
    text-align: center;
    padding-top:12px;
}
.hypeyazilarinhepsi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hypekismi{
    border-top:1px solid  #2E3545;
    padding-block: 64px;

}
.hypeyazilar{
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.wehavebeen{
    font-size: 18px;
    font-family: Inter;
    line-height: 26px;
    letter-spacing: -0.1px;
    width: 640px;
    height: 52px;
    color:#A5ACBA;
    text-align: center;
    padding-top:24px ;
}
.monthlyyearly{
    border: 1px solid #2E3545;
    background-color:#2E3545;
    border-radius: 6px;
    width: 384px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
.month{
    font-size: 14px;
    color:#F9F9F9;
    font-weight: 600;
    line-height: 20px;
    background-color:#333B48;
    width: 185px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}
.year{
    font-size: 14px;
    color:#A5ACBA;
    font-weight: 600;
    line-height: 20px;
    width: 185px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.priceseslist span{
    height: 24px;
    width: 288px;
    color:#F9F9F9;
}
.priceseslist{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.priceseslist div{
    display: flex;
    gap:12px;
}
.yuzde{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
    color:#F9F9F9
}
.yuzdeaylik{
    
    padding-bottom: 16px;
}
.aylik{
    font-size: 20px;
    line-height: 28px;
    color:#A5ACBA
}
.priceses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 402px;
    background-color: #1C2534;
    padding: 32px;
    border-radius: 6px;
}
.starter{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
    color:#F9F9F9;
}
.demonstrate{
    width: 320px;
    height: 48px;
    font-size: 16px;
    font-family: Inter;
    line-height: 24px;
    letter-spacing: -0.1px;
    color:#A5ACBA;
    padding-bottom:48px ;
}
.buynow-btn{
    width: 320px;
    height: 46px;
    color:white;
    background-color: #437EF7;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-top: 32px;
    
}

.pricesessinir{
    display:flex;
    justify-content: center;
    gap:32px;
    background-color: #151B28;
}
.monthly{
    width: 384px;
    height: 46px;
    margin:auto;
    margin-bottom:64px;
    
}
.arkaplan{
    background-color: #151B28;
}
.work-head{
    font-size: 22px;
    font-style: bold;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;

}
.work-space img{
    width: 32px;
    height: 32px;
    padding-bottom: 20px;
}
.work-space{
    width: 592px;
    color:#272D37;
    padding-bottom:32px;
    
}
.work-body{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color:#5F6D7E;
}
.work-spacekonum{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:32px;
    margin-top:64px;
    margin-bottom: 96px;
}
.redefining-head h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
    width: 800px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
    
    
}
.redefining-head p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color:#5F6D7E;
    width: 800px;
    height: 48px;
    text-align: center;
}
.redefining-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    margin-bottom: 64px;
}
.redefining-body h6{
    font-size: 14px;
    color:#437EF7;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.1px;
} 
.redefining-body h4{ 
    font-size: 32px;
    color:#272D37;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.32px;
}
.redefining-body p{
    font-size: 16px;
    color:#5F6D7E;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.buton-start{
    font-size: 15px;
    color:#FFFFFF;
    font-weight: 600;
    line-height: 22px;
    background-color: #437EF7;
    width: 133px;
    height: 46px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6px;
}
.buton-start img{
    width: 20px;
    height: 20px;
    padding-top:5px;
    
}
.redefining-body-left{
    width: 516px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.redefining-body-left-all{
    display: flex;
    flex-direction: column;
    gap:40px;
    justify-content: center;
}
.redefining-body{
    display: flex;
    gap:140px;
}
.redefining-body-right{
    padding-bottom: 64px;
}
.customerstema{
    height: 418px;
    background-color: #F8F9FB;
}
.customerstema h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
    text-align: center;
    padding-block:64px ;
}
.stars{
    display: flex;
}
.customer p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.1px;
}
.meslekisim{
    display: flex;
    flex-direction: column;
}
.custombir li{
    display: flex;
    gap:10px;
}
.meslek{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
    color:#5F6D7E;
}
.isim{
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.1px;
}
.customer{
    width: 312px;
    display: flex;
    flex-direction: column;
    gap:24px;
}
.customers{
    display: flex;
    gap:160px;
}

.footer{
    background-color: #151B28;
    height: 562px;
}
.footer-body-list {
    color:#F9F9F9;
    display: flex;
    gap:150px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.1px;
}
.footer-body-list li ul li a{
    color:#A5ACBA;
    width: 127px;
}
.footer-body-alt-list{
    padding-top:24px;
    display: flex;
    flex-direction: column;
    gap:12px;
}
.footer-head h3{
    font-size: 32px;
    color:#F9F9F9;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.32px;
}
.signupson{
    width: 80px;
    height: 46px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #437EF7;
    color:white;
    font-size: 15px;
    line-height: 22px;
}
.butonson{
    width: 80px;
    height: 46px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3444;
    color:white;
    font-size: 15px;
    line-height: 22px;
    border:1px solid #2E3545;
}
.signupbutonson{
    display: flex;
    gap:16px;
}
.footer-head{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 50px;
}
.footer-body{
    border-top:1px solid #2E3545;
    border-bottom:1px solid #2E3545;
}
.footer-body-ilkkisim p{
    width: 210px;
    height: 72px;
    font-size: 16px;
    color:#A5ACBA;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
}
.footer-body-ilkkisim img{
    width: 160px;
    height: 40px;
}
.footer-body-ilkkisim{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.footer-body{
    display: flex;
    justify-content: space-between;
    gap:152px;
    padding-top: 48px;
    padding-bottom: 64px;
}
.social{
    display: flex;
    gap:24px;
}

.footer-footer p{
    font-size: 16px;
    color:#A5ACBA;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
}
.footer-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
.searchinput{
    display: flex;
    border:1px solid #DAE0E6;
    background-color: #FFF;
    width: 320px;
    height: 20px;
    padding:12px;
    gap:8px;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
}
.searchinput img{
    width: 20px;
    height: 20px;
}
.searchinput {
    font-size: 15px;
    color:#919BA7;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.1px;
}
.searchbuton{
    font-size: 15px;
    color:#FFF;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    background-color: #437EF7;
    width: 87px;
    height: 33px;
    border:1px solid;
    border-radius: 0px 6px 6px 0px;
    text-align: center;
    padding-top:12px;
}
.search{
    display: flex;
}
.tags-list{
    display: flex;
    gap:16px;
}
.tags-list li a{
    width: 75px;
    height: 28px;
    background-color: #F7F7F8;
    color: #272D37;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#tagsbir{
    font-size: 16px;
    color:#272D37;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.1px;
    background-color: white;
}
.tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 3px;
}
.img-author{
    position: relative;
}
.author{
    width:48px;
    height: 48px;
    position: absolute;
    bottom:-20px;
    left:304px;
    box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.10), rgba(16, 24, 40, 0.10);
}
.big-image img{
    border-radius: 6px 6px 0px 0px;
    width:384px;
    height: 248px;
}
.article {
    width: 68px;
    height: 28px;
    background-color: #F5FAFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.article a{
    color:#437EF7;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
}
.menu-head p{
    font-size: 14px;
    color:#5F6D7E;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
}
.menu-head{
    display: flex;
    align-items: center;
    gap:16px;
    
}
.menubir{
    width:384px;
    border:1px solid #EAEBF0;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    border-radius: 10px;
    margin-top:58px;
}


.menu-body h3{
    font-size: 22px;
    color:#272D37;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
    padding-bottom:16px;
}
.menu-body p{
    font-size: 16px;
    color:#5F6D7E;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
}
.menu-footer p a{
    font-size: 15px;
    color:#437EF7;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}
.menu-footer{
    display: flex;
    gap:6px;
}
.menu-footer img{
    width: 20px;
    height: 20px;
}
.menu-boyut{
    display: flex;
    flex-direction: column;
    gap:24px;
    width:320px;
    padding-top:24px;
    padding-left: 32px;
    padding-bottom: 24px;
    padding-right: 32px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.showbuton{
    font-size: 15px;
    color:#FFF;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    background-color: #437EF7;
    width: 128px;
    height: 46px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-btn-konum{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}
.haftalargunler{
    border: 1px solid #EAEBF0;
    background-color:#F7F7F8;
    border-radius: 6px;
    width: 384px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom:32px;
}
.weekly{
    font-size: 14px;
    color:#5F6D7E;
    font-weight: 600;
    line-height: 20px;
    width: 185px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.secilen{
    font-size: 14px;
    color:#272D37;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    background-color:#FFF;
    width: 185px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);

}
.port-arkaplan{
    background-image: url('../image/portfolio/Base\ Backgrounddene.jpg');
}
.color{
    color:#272D37;
}
.color a{
    color:#272D37;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}
.border{
    border-top:1px solid #EAEBF0;
    padding-bottom: 0px;
}
.getbuton{
    font-size: 15px;
    color:#FFF;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    background-color: #437EF7;
    width: 121px;
    height: 46px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactbuton{
    font-size: 15px;
    color:#272D37;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    background-color: #FFF;
    width: 121px;
    height: 46px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #DAE0E6;
}
.hype-butons{
    display: flex;
    gap:16px;
    margin-top:36px;
    margin-bottom:80px;

}
.hypeyazilarinhepsi h3{
    font-size: 14px;
    color:#437EF7;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.1px;
}
.resim img{
    border-radius: 35px 35px 0px 0px;
}
.resim{
    display: flex;
    justify-content: center;
}
.productbir a h6{
    font-size: 14px;
    color:#5F6D7E;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
    margin-top:5px;
}
.productbir img{
    padding-top: 16px;

}
.productbir a h5{
    font-size: 22px;
    color:#272D37;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
}
.productbir{
    display: flex;
    flex-direction: column;
    gap:8px;
    
}
.product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:32px;
    
}
.page p{
    font-size: 14px;
    color:#5F6D7E;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
}
.page img{
    width: 40px;
    height: 40px;
}
.page{
    width: 384px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-konum{
    display: flex;
    justify-content: center;
    margin-top:56px;
    margin-bottom: 32px;
}
.social-kisim img{
    width: 24px;
    height: 24px;
}
.social-kisim{
    display: flex;
    gap:24px;
}

.footer-portfolio p{
    font-size: 16px;
    color:#A5ACBA;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    padding-top: 16px;
}
.footer-portfolio{
    text-align: center;
}
.footer-boy{
    height: 500px;
}
.padding{
    padding-top:64px;
    border-bottom: none;
}
.navInImg {
    margin-left: 12px;
  }
  
  /* Acilir Menu Baslangic */
  div.reso li {
    display: inline-block;
  }
  div.reso a{
    display: flex;
  }
  div.reso li {
    display: inline-block;
    position: relative;
  }
  ul li a {
    display: block;  
    text-decoration: none;
    text-align: center;
  }
  div.reso li ul.dropDown li {
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid #2E3545;
    align-items: center;
  }
  div.reso li ul.dropDown {
  width: 100%;
  position: absolute;
  display: none;
  background-color: #151B28;
  border: 1px solid #2E3545;
  padding: 5px 10px;
  }
  
  ul li:hover ul.dropDown {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  ul li ul.dropDown.bg--white {
    background-color: #FFFFFF;  
    border-color: #EAEBF0;
  }
  ul li ul.dropDown.bg--white li {
    border-bottom:1px solid #EAEBF0;
  } 
    ul li ul.dropDown.bg--gray {
    background-color: #323a45;  
    border-color: #2E3545;
  }
  ul li ul.dropDown.bg--gray li {
    border-bottom:1px solid #2E3545;
  }
  ul li ul.dropDown li.noBorBot {
    border-bottom: none;
  }
  /* Acilir Menu Bitis */